*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {
    outline: none;
    background-color: rgba(12, 12, 12, 0.651);
    color: white;
}
input:focus {
    background-color: black;
    transform: scale(1.1);
}
#total::before{
    content: "Total : ";
    letter-spacing: 3px ;
}
button {
    cursor: pointer;
}
#searchtitle,#searchCategory {
    background-color: rgb(236, 77, 3);
    border: none;
}
#searchtitle:hover,#searchCategory:hover {
    background-color: rgb(248, 101, 33);
}
table th {
    text-transform: uppercase;
}
tr,td {
    padding: 10px !important;
    vertical-align: middle;
}